<h1><%= @post.title %></h1>

<h3>Categories</h3>
<ul>
  <% @post.categories.each do |cat| %>
    <li><%= cat.name %></li>
  <% end %>
</ul>

<%= @post.content %>

<h3>Comments</h3>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
</ul>

<h3>Users that commented</h3>
<ul>
  <% @users.each do |user| %>
    <li><%= user.username %></li>
  <% end %>
</ul>

<h3>Add comment</h3>
<br />